
.folder-icon-show-favorite:before { content: '\e800'; } /* '' */
.folder-icon-folder-locate:before { content: '\e801'; } /* '' */
.folder-icon-folder-rename:before { content: '\e802'; } /* '' */
.folder-icon-folder-create:before { content: '\e803'; } /* '' */
.folder-icon-folder-delete:before { content: '\e804'; } /* '' */
.folder-icon-plus-cir:before { content: '\e805'; } /* '' */
.folder-icon-minus-cir:before { content: '\e806'; } /* '' */
.folder-icon-minus:before { content: '\e807'; } /* '' */
.folder-icon-plus:before { content: '\e808'; } /* '' */
.folder-icon-book-open:before { content: '\e809'; } /* '' */
.folder-icon-folder-open-black:before { content: '\e80a'; } /* '' */
.folder-icon-plus-sq:before { content: '\e80b'; } /* '' */
.folder-icon-minus-sq:before { content: '\e80c'; } /* '' */
.folder-icon-heart-black:before { content: '\e80d'; } /* '' */
.folder-icon-heart-white:before { content: '\e80e'; } /* '' */
.folder-icon-show-active:before { content: '\e80f'; } /* '' */
.folder-icon-thumbs-up:before { content: '\e810'; } /* '' */
.folder-icon-show-all:before { content: '\e811'; } /* '' */
.folder-icon-thumbs-down:before { content: '\e812'; } /* '' */
.folder-icon-search-small:before { content: '\e813'; } /* '' */
.folder-icon-user:before { content: '\e814'; } /* '' */
.folder-icon-close-black:before { content: '\e815'; } /* '' */
.folder-icon-close-white:before { content: '\e816'; } /* '' */
.folder-icon-cancel-black:before { content: '\e817'; } /* '' */
.folder-icon-cancel-white:before { content: '\e818'; } /* '' */
.folder-icon-heart-broken:before { content: '\f028'; } /* '' */
.folder-icon-folder-open:before { content: '\f068'; } /* '' */
.folder-icon-folder-open-wide:before { content: '\f115'; } /* '' */
.folder-icon-folder-read-tree:before { content: '\f14a'; } /* '' */
.folder-icon-folder-open-med:before { content: '\f4c2'; } /* '' */